:root {
    --color-rosa: #F2CFD7;
    --color-blau: #D1F4F2;
    --color-verd: #D1D171;
    --color-groc: #FEE088;
    --color-gris-fosc: #554F4F;
    --color-gris-clar: #D9D9D9;
    --color-red: #FF6961;

    --font-principal: 'IBM Plex Mono', monospace;
    
}
